---
type Props = Readonly<{
  title: string;
  eyebrow?: string;
}>;

const { title, eyebrow } = Astro.props;
---

<div class="section-title reveal">
  {eyebrow && <p>{eyebrow}</p>}
  <h2>{title}</h2>
</div>
